@model Reconova.Data.Models.ScanResult

@{
    ViewData["Title"] = "Scan Result";
}

@section Styles {
    <link rel="stylesheet" href="~/css/scanresult.css" />
}

<div class="card mb-4">
    <div class="card-header bg-blue">
        <p><strong>Target:</strong> @Model.Target</p>
        <p><strong>@Model.Timestamp.ToLocalTime()</strong></p>
    </div>
    <div class="card-body">
        <pre>@Model.Output</pre>
    </div>
</div>

<div class="card">
    <div class="card-header bg-blue">
        <p><strong>Analysis</strong></p>
    </div>
    <div class="card-body">
        <pre>@Model.AIResult?.Output</pre>
    </div>
</div>

<div class="btns">
    <a class="btn btn-secondary" asp-controller="Scan" asp-action="Index" asp-route-id="@Model.TaskId">Back</a>
    <a class="btn btn-blue" asp-controller="Scan" asp-action="DownloadScanResult" asp-route-id="@Model.ScanId">
        Download Result as TXT
    </a>
</div>
